*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
html{
	scroll-behavior: smooth;
}
#page1{
	position: relative;
}
#title{
	font-size: 50px;
	text-align: center;
	margin: 20px;

}
.top{
	border: 1px solid crimson;
	background-color: crimson;
	color: white;
	bottom: 20px;
	right: 20px;
	position: fixed;
	padding: 10px 18px;
	border-radius: 50%;
	font-size: 20px;
}

/*page-pic*/
.picutre{
	position: relative;
}
.page-pic{
	opacity: 0.9;
	position: relative;
	width: 100%;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.wash{
	position: absolute;
	color: white;
}
.keep{
	font-size: 60px;
	color: white;
	top: 55%;
	font-weight: bold;
}
.lorem{
	color: white;
	font-weight: bold;
	top: 60%;
}
.book{
	border: 2px solid crimson;
	background-color: crimson;
	color: white;
	text-decoration: none;
	top: 67%;
	padding: 15px 35px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	transition: 0.3s;
}
.book:hover{
	background-color: transparent;

}
/*for next previous*/
.next, .prev{
	width: 40px;
	position: absolute;
	top: 500px;
	z-index: 3;
	padding: 3px 3px;
}
.prev{
	left: 3px;
}
.next{
	right: 3px;
}
.next:hover,.prev:hover{
	border-radius: 30%;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(0, 0, 0, 0.5);

}




/*For nav-bar*/
.nav-bar{
	position: sticky;
	list-style: none;
	display: flex;
	padding: 20px 50px;
	background-color: #202C45;
}
.nav-bar .bar-content{
	padding: 10px 20px;
}
.nav-bar a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: 0.3s;
}
.nav-bar a:hover{
	color: crimson;
	font-size: 15.5px;
}
.get{
	margin-left: 380px;
	border: 2px solid white;
	padding: 10px 20px;
	border-radius: 20px;
}
.get:hover{
	background-color: white;
}


/*--------Page2--------*/
#page2{
	margin: 50px 50px;
}
.about{
	color: crimson;
	padding-bottom: 10px;
	padding-left: 30px;
	
}
.car{
	font-weight: bold;
	font-size: 40px;
	padding-left: 30px;
}
.about-lorem{
	padding-top: 40px;
	padding-left: 30px;
	color: rgba(0, 0, 0, 0.5);
}
.ser{
	padding-top: 40px;
	padding-left: 30px;
	bor
}
.ser-list{
	padding-top: 10px;
	font-weight: bold;
}
.learn{
	text-decoration: none;
	color: black;
	border: 2px solid crimson;
	padding: 10px 20px;
	margin-left: 20px;
	border-radius: 20px;
	transition: 0.3s;
}
.learn:hover{
	background-color: crimson;
	color: white;
}
.lastchild{
	padding-bottom: 40px;
}


/*--------Page3--------*/

#page3{
	margin: 80px 50px;
}
.what{
	text-align: center;
	color: crimson;
	border-bottom: 2px solid crimson;
	padding-bottom: 15px;
}
.premium{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	padding: 30px;
}
.pre-service{
	padding-top: 40px;
}
.pre-service h1{
	padding-bottom: 20px;
	font-size: 20px;
}
.pre-service p{
	padding-bottom: 60px;
	color: rgba(0, 0, 0, 0.5);
}
.inter{
	width: 220px;
	border-radius: 20px;
	border: 5px solid crimson;
	margin-left: 20px;
}




/*--------page4--------*/

#page4{
	margin: 60px 50px;
}
.washing{
	text-align: center;
	color: crimson;
	border-bottom: 2px solid crimson;
	padding-bottom: 10px;
}
.choose{
	text-align: center;
	font-size: 40px;
	padding: 30px;
}
.price{
	margin: 80px 140px;
	


}
.price h1{
	padding-bottom: 20px;
}
.rs{
	font-size: 45px;
}
.price li{
	padding-bottom: 15px;
	color: rgba(0, 0, 0, 0.7);
	list-style: none;
}
.price a{
	border: 2px solid crimson;
	padding: 10px 10px;
	border-radius: 20px;
	text-decoration: none;
	color: crimson;
	transition: 0.3s;
	margin-bottom: 30px;
}
.price a:hover{
	color: white;
	background-color: crimson;

}
.price th{
	padding: 40px 50px;
	transition: 0.3s;
}
.price th:hover{
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.price span{
	font-size: 20px;
	color: crimson;
}


/*--------page5--------*/
#page5{
	margin: 50px 80px;
}
.point{
	color: crimson;
	font-size: 20px;
}
.carw{
	font-size: 40px;
}
.request{
	border: 2px solid crimson;
	float: right;
	width: 450px;
	height: 480px;
	background-color: crimson;
	border-radius: 10px;
}
.select-plan{
	padding: 10px;
	padding-right: 200px;
	margin-bottom: 20px;
	border: 1px solid white;
	background-color: crimson;
	color: white;
}
.request-con{
	padding: 30px;
}
.request-con h2{
	padding: 30px 30px;
	color: white;
	font-size: 30px;
}
.request-con .name1,.email1{
	padding: 10px;
	padding-right: 200px;
	margin-bottom: 20px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
}
.request-con .name1::placeholder,.email1::placeholder,.dis::placeholder{
	color: white;
}
.dis{
	padding: 10px;
	padding-right: 200px;
	margin-bottom: 40px;
	border: 1px solid white;
	background-color: transparent;
	padding-bottom: 60px;
	color: white;
}
/*.request-con a{
	text-decoration: none;
	color: red;
	font-weight: bold;
	border: 2px solid white;
	padding: 10px 60px;
	margin-left: 70px;
	border-radius: 20px;
	background-color: white;
}*/
.send-button{
	text-decoration: none;
	color: red;
	font-weight: bold;
	border: 2px solid white;
	padding: 10px 60px;
	margin-left: 70px;
	border-radius: 20px;
	background-color: white;
}
.send-button:hover{
	background-color: crimson;
	color: white;
}
.location{
	margin-top: 60px;
}
.location td{
	padding: 20px 60px;
}
.location p{
	padding-top: 5px;
	padding-bottom: 5px;
}


/*--------page6--------*/
#page6{
	margin: 100px 200px;
	position: relative;
}
.quick-contact{
	background-color: #202C45;
	border-radius: 10px;
	height: 340px;
	width: 300px;
}
.quick{
	padding-top: 10px;
	color: white;
	text-align: center;

}
.contact-info{
	color: white;
	margin-top: 40px;
	margin-left: 50px;
}
.time, .call, .email{
	margin-top: 5px;
}
.enter-info{
	left: 370px;
	margin-top: 130px;
	top: 20px;
	position: absolute;
}
.email, .name, .phone{
	margin-bottom: 10px;
	padding-right: 400px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.message{
	margin-bottom: 20px;
	padding-right: 400px;
	padding-bottom: 80px;
}
.send{
	text-decoration: none;
	color: white;
	background-color: crimson;
	border: 3px solid crimson;
	position: relative;
	left: 370px;
	padding: 10px 30px;
	border-radius: 20px;
}
.send:hover{
	color : #202C45 ;
	background-color: white;

}
